/* Hero */

.section-hero {
	background-image: url(/assets/hero-section/hero-catalogo.jpg);
}

/* Promociones */

.section-promotions,
.card-promotion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-promotions {
	margin: 1rem 0 0 0;
	padding: 0 1rem;
	gap: 1rem;
	flex-wrap: wrap;
}

.card-promotion {
	width: 100%;
	padding: 1rem;
	gap: 0.5rem;
	background-color: var(--background);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--default);
}

.card-promotion h3 {
	text-align: center;
	text-wrap: balance;
	text-transform: uppercase;
	font-weight: var(--font-weight-bold);
	margin: 0;
	font-size: var(--font-size-xl);
}

.card-promotion p {
	font-size: var(--font-size-sm);
	text-align: center;
	text-wrap: balance;
	margin: 0;
}

.card-promotion-link-click-here {
	color: var(--primary);
	font-weight: var(--font-weight-bold);
	transition: color var(--transition-duration);
}

.card-promotion-link-click-here:hover {
	color: var(--primary-dark);
	text-decoration: underline;
}

@media (width >= 640px) {
	.section-promotions {
		flex-wrap: nowrap;
		flex-direction: row;
	}

	.card-promotion {
		min-height: 16rem;
	}
}

@media (width >= 768px) {
	.card-promotion h3 {
		font-size: var(--font-size-xxl);
	}

	.card-promotion p {
		font-size: var(--font-size-md);
	}
}

/* Búsqueda y Filtros */

.section-search {
	width: 100%;
	margin: 4rem 0;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.section-search-filters {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.section-search-filters-selectors {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.section-search-filters label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	user-select: none;
}

@media (width >= 440px) {
	.section-search-filters-selectors {
		flex-direction: row;
	}

	.section-search-filters-selectors select {
		flex-grow: 1;
	}
}

@media (width >= 640px) {
	.section-search {
		width: 80%;
		align-self: center;
	}

	.section-search-filters {
		flex-direction: row;
		align-items: center;
	}

	.section-search-filters-selectors select {
		flex-grow: 1;
	}

	.section-search-filters label {
		flex-grow: 1;
		width: 50%;
	}
}

@media (width >= 1024px) {
	.section-search {
		width: 60%;
	}
}

.checkbox-wrapper-2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox-wrapper-2 .ikxBAC {
	appearance: none;
	background-color: var(--secondary);
	border-radius: 72px;
	border-style: none;
	flex-shrink: 0;
	height: 20px;
	margin: 0;
	position: relative;
	width: 30px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
	transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
	background-color: var(--text-light);
	border-radius: 50%;
	content: "";
	height: 14px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 14px;
}

.checkbox-wrapper-2 input[type="checkbox"] {
	cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
	background-color: var(--secondary-dark);
	transition-duration: var(--transition-duration);
}

.checkbox-wrapper-2 .ikxBAC:checked {
	background-color: var(--primary);
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
	background-color: var(--text-light);
	left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
	outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
	background-color: var(--primary-dark);
}

/* Sales y Catalog */

.section-sales,
.section-catalog {
	display: flex;
	flex-direction: column;
}

@media (width >= 1024px) {
	.section-sales,
	.section-catalog {
		align-items: center;
		justify-content: center;
	}
}
