/* Hero Image */

.section-hero {
	background-image: url(/assets/hero-section/hero-index.jpg);
}

/* Ofertas */

.section-sales {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button-view-all {
	width: 80%;
	align-self: center;
	font-size: var(--font-size-md);
	margin: 1rem 0 0 0;
}

@media (width >= 768px) {
	.button-view-all {
		font-size: var(--font-size-lg);
	}
}

@media (width >= 1024px) {
	.section-sales {
		align-items: center;
	}
}

/* Categorías */

.section-categories {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.category-card {
	position: relative;
	height: 18rem;
	background-color: var(--background-dark);
	border-radius: var(--border-radius);
	transition: box-shadow var(--transition-duration);
}

.category-card:hover {
	box-shadow: var(--box-shadow);
}

.category-card-title {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-size: var(--font-size-lg);
	text-align: center;
	font-weight: var(--font-weight-bold);
	text-shadow: var(--text-shadow);
	z-index: 5;
}

.category-card-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	transition: opacity var(--transition-duration);
}

.category-card:hover .category-card-img {
	opacity: 0.7;
}

@media (width >= 1024px) {
	.section-categories {
		align-items: center;
	}
}

/* Video */

.section-video,
.section-video-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-video-container iframe {
	width: 100%;
	height: 40vh;
}

@media (width >= 440px) {
	.section-video,
	.section-video-container {
		align-items: center;
	}
	.section-video-container {
		width: 90vw;
	}
}

@media (width >= 768px) {
	.section-video-container iframe {
		height: 50vh;
	}
}

/* Map */

.section-map,
.section-map-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.section-map-container iframe {
	width: 100%;
	height: 40vh;
}

@media (width >= 440px) {
	.section-map,
	.section-map-container {
		align-items: center;
	}
	.section-map-container {
		width: 90vw;
	}
}

@media (width >= 768px) {
	.section-map-container iframe {
		height: 50vh;
	}
}

/* Newsletter */

.section-newsletter {
	position: relative;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1.5rem 1rem;
	margin: 5rem 0 4rem 0;
	background-color: var(--primary);
	color: var(--text-light);
	font-weight: var(--font-weight-light);
	text-align: center;
	border-radius: var(--border-radius);
	transition: background-color var(--transition-duration),
		box-shadow var(--transition-duration);
}

.section-newsletter:hover {
	box-shadow: var(--box-shadow);
}

.section-newsletter-icon {
	position: absolute;
	top: -30px;
	transition: transform var(--transition-duration);
}

.section-newsletter:hover .section-newsletter-icon {
	transform: var(--rotate-right-10);
}

.section-newsletter-title,
.section-newsletter-subtitle {
	user-select: none;
	text-wrap: balance;
}

.section-newsletter-title {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
}

.section-newsletter-inputs {
	width: 80%;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.section-newsletter-inputs input[type="email"] {
	flex-grow: 1;
}

.section-newsletter-inputs input[type="submit"] {
	width: 40%;
}

.section-newsletter-advice {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-normal);
	color: var(--default);
	user-select: none;
	text-wrap: balance;
}

@media (width >= 768px) {
	.section-newsletter {
		width: 70vw;
	}
}
