/* Hero */

.section-hero {
	background-image: url(/assets/hero-section/hero-nosotros.webp);
}

/* Data */

.data-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
	margin: 1rem 0;
	padding: 0 1rem;
}

@media (width >= 640px) {
	.data-container {
		width: 80%;
	}
}

.data-container i {
	margin: 0 2rem;
	font-size: var(--font-size-xxxxl);
	color: var(--text-dark);
}

.help_data {
	display: flex;
	flex-direction: column;
}

.help_data a {
	color: var(--primary-dark);
	font-size: var(--font-size-sm);
}

@media (width >= 440px) {
	.help_data a {
		font-size: initial;
	}
}

/* Form */

.section-contact {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media (width >= 768px) {
	.data-container {
		padding: 0;
	}

	.data-container h5 {
		font-size: var(--font-size-xxl);
	}

	.data-container p,
	.data-container a {
		font-size: var(--font-size-lg);
	}

	.section-contact {
		align-items: center;
	}

	form {
		width: 80%;
	}
}

@media (width >= 1024px) {
	form {
		width: 60%;
	}
}

.upper-label {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.radio-label {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.option {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#options {
	margin: 0.5rem 0;
}

.form-image {
	display: none;
}
