/* Servicios */

.section-servicios {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0 1rem;
}

/* Modal */

dialog {
	position: fixed;
	width: fit-content;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	align-self: center;
	justify-self: center;
	border-radius: var(--border-radius);
	border: none;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.55);
}

@media (min-width: 768px) {
	dialog {
		font-size: var(--font-size-lg);
	}
}

@media (min-width: 1024px) {
	dialog {
		width: 40%;
	}
}
