@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:wght@200..900&display=swap");

*,
*::before,
*::after,
i,
i::before,
i::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	/* Colores */
	--text-dark: #212529;
	--text-light: #f8f9fa;

	--background: #f8f9fa;
	--background-dark: #212529;

	--default: #d5d5d5;
	--default-light: #e5e5e5;
	--default-dark: #a5a5a5;

	--primary: #1b892f;
	--primary-light: #48a058;
	--primary-dark: #125f20;

	--secondary: #6c757d;
	--secondary-light: #899097;
	--secondary-dark: #4b5157;

	--success: #28a745;
	--success-light: #53b86a;
	--success-dark: #1c7430;

	--info: #007bff;
	--info-light: #3395ff;
	--info-dark: #0056b2;

	--warning: #ffc107;
	--warning-light: #ffcd38;
	--warning-dark: #b28704;

	--danger: #dc3545;
	--danger-light: #e35d6a;
	--danger-dark: #9a2530;

	/* Bordes */
	--border-width: 1px;
	--border-radius: 0.2rem;
	--border-radius-sm: 0.4rem;

	/* Transiciones */
	--transition-duration: 0.5s;

	/* Tamaños de fuente */
	--font-size-xxs: clamp(0.3rem, 1vw, 0.4rem);
	--font-size-xs: clamp(0.5rem, 1.5vw, 0.6rem);
	--font-size-sm: clamp(0.7rem, 2vw, 0.8rem);
	--font-size-md: clamp(0.9rem, 2.5vw, 1rem);
	--font-size-lg: clamp(1.2rem, 3vw, 1.5rem);
	--font-size-xl: clamp(1.4rem, 3.5vw, 1.7rem);
	--font-size-xxl: clamp(1.8rem, 4vw, 2rem);
	--font-size-xxxl: clamp(2.2rem, 5vw, 2.5rem);
	--font-size-xxxxl: clamp(2.6rem, 6vw, 3rem);

	/* Rotación */
	--rotate-right-5: rotate(5deg);
	--rotate-right-10: rotate(10deg);
	--rotate-left-5: rotate(-5deg);
	--rotate-left-10: rotate(-10deg);

	/* Sombras */
	--box-shadow-md: 0px 6px 10px rgba(0, 0, 0, 0.2);
	--box-shadow-lg: 0px 8px 12px rgba(0, 0, 0, 0.2);
	--text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Reddit Sans", sans-serif;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* headings */

h1 {
	margin-top: 3.2rem;
	margin-bottom: 2.2rem;
}

h2 {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

h3 {
	margin-top: 1.6rem;
	margin-bottom: 1.1rem;
}

h4 {
	margin-top: 1.4rem;
	margin-bottom: 1rem;
}

h5 {
	margin-top: 1.2rem;
	margin-bottom: 0.8rem;
}

h6 {
	margin-top: 1rem;
	margin-bottom: 0.6rem;
}

/* enlaces */

a {
	color: var(--text-light);
	text-decoration: none;
}

/* button */

.button {
	background-color: var(--primary);
	color: var(--text-light);
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	padding: 0.5rem 1rem;
	transition: background-color var(--transition-duration),
		border-radius var(--transition-duration);
	font-size: var(--font-size-md);
	text-decoration: none;
	width: 100%;
	text-align: center;
}

.button:hover {
	background-color: var(--primary-dark);
	border-radius: var(--border-radius-sm);
}

/* header */

.navbar-brand {
	font-weight: 900;
	color: var(--primary);
	transition: color var(--transition-duration),
		transform var(--transition-duration);
	font-size: var(--font-size-xxxl);
}

.navbar-brand:visited {
	color: var(--primary);
}

.navbar-brand:hover {
	color: var(--primary-dark);
	transform: var(--rotate-left-5);
}

.navbar-toggler-cart {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.button-cart {
	color: var(--text-dark);
	font-size: var(--font-size-xxl);
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (width >= 440px) {
	.navbar-toggler-cart {
		order: 3;
	}
}

/* section title */

.section-title {
	font-size: var(--font-size-xxl);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	text-wrap: balance;
}

@media (width >= 768px) {
	.section-title {
		font-size: var(--font-size-xxxl);
	}
}

/* hero */

.section-hero {
	width: 100%;
	height: 60vh;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	background-color: black;
	position: relative;
}

.section-hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.content-hero h1 {
	font-size: var(--font-size-xxl);
	text-shadow: var(--text-shadow);
	text-wrap: balance;
	font-weight: bolder;
	position: relative;
	z-index: 5;
}

.content-hero p {
	font-size: var(--font-size-md);
	text-shadow: var(--text-shadow);
	text-wrap: balance;
	position: relative;
	z-index: 5;
}

@media (width >= 768px) {
	.content-hero h1 {
		font-size: var(--font-size-xxxxl);
	}

	.content-hero p {
		font-size: var(--font-size-lg);
	}
}

@media (width >= 1024px) {
	.content-hero h1 {
		font-size: 5rem;
	}

	.content-hero p {
		font-size: var(--font-size-xxxxl);
	}
}

/* footer */

footer {
	background-color: var(--primary-dark);
	color: var(--text-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 0 1rem 0;
	margin: 3rem 0 0 0;
	gap: 1rem;
	text-align: center;
	position: relative;
}

@media (width >= 640px) {
	footer {
		flex-direction: row;
		justify-content: center;
	}

	.redes {
		order: 3;
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

.button-go-up {
	background-color: var(--primary);
	border-radius: 100%;
	width: 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 6rem;
	position: absolute;
	top: -30px;
	transition: transform var(--transition-duration),
		background-color var(--transition-duration);
}

.button-go-up:hover {
	background-color: var(--default);
	animation: bounce 1s infinite both ease-in-out;
}

.button-go-up i {
	font-size: 4rem;
	color: var(--default);
	transition: color var(--transition-duration);
}

.button-go-up:hover i {
	color: var(--primary);
}

.copyright {
	margin: 0;
}

.integrantes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.redes {
	display: flex;
	gap: 1rem;
}

.redes i {
	font-size: var(--font-size-xxl);
	transition: color var(--transition-duration);
}

.redes i:hover {
	color: var(--default-dark);
}

/* catálogo y cards de productos */

.cards-container,
.cards-container-sales,
.cards-category-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	grid-auto-rows: auto;
	padding: 0 1rem;
	margin: 0;
}

.product-card {
	background-color: var(--background);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--default);
	transition: box-shadow var(--transition-duration);
	display: flex;
	flex-direction: column;
	height: 32rem;
}

.product-card:hover {
	box-shadow: var(--box-shadow-lg);
}

.product-card-img {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	width: 100%;
	height: 18rem;
	object-fit: cover;
}

.product-card-body {
	padding: 1rem 1rem 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	flex-grow: 1;
}

.product-card-footer {
	padding: 0 1rem 1rem 1rem;
	display: flex;
	flex-direction: column;
}

.product-card-title {
	font-size: var(--font-size-md);
	margin: 0 0 0.2rem 0;
}

.product-card-category {
	font-size: var(--font-size-sm);
	color: var(--secondary);
	font-weight: normal;
	margin: 0 0 0.5rem 0;
}

.product-card-details {
	display: flex;
	align-items: end;
	gap: 0.5rem;
	margin: 0 0 0.6rem 0;
}

.product-card-prices {
	display: flex;
	flex-direction: column;
}

.product-card-last-price {
	text-decoration: line-through;
	font-size: var(--font-size-md);
	color: var(--secondary);
}

.product-card-price {
	font-weight: bolder;
	font-size: var(--font-size-xl);
	color: var(--primary);
}

.product-card-shipping-tag {
	border: var(--border-width) solid var(--default-light);
	padding: 0.4rem;
	border-radius: var(--border-radius);
	font-size: var(--font-size-sm);
	color: var(--text-dark);
	display: flex;
	gap: 0.2rem;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.product-card-shipping-tag i {
	font-size: var(--font-size-sm);
}

@media (width >= 440px) {
	.product-card-shipping-tag,
	.product-card-shipping-tag i {
		font-size: var(--font-size-xs);
	}
}

@media (width >= 640px) {
	.product-card-last-price {
		font-size: var(--font-size-sm);
	}

	.product-card-price {
		font-size: var(--font-size-md);
	}
}

@media (width >= 768px) {
	.product-card-last-price {
		font-size: var(--font-size-md);
	}

	.product-card-price {
		font-size: var(--font-size-lg);
	}

	.product-card-shipping-tag,
	.product-card-shipping-tag i {
		font-size: var(--font-size-sm);
	}
}

@media (width >= 1024px) {
	.cards-container,
	.cards-container-sales,
	.cards-category-container {
		width: 90vw;
		padding: 0;
	}
}
