*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	/* Colores */
	--text-dark: #212529;
	--text-light: #f5f5f5;

	--background: #f8f9fa;

	--default: #d5d5d5;
	--default-light: #e5e5e5;
	--default-dark: #a5a5a5;

	--primary: #1b892f;
	--primary-light: #48a058;
	--primary-dark: #125f20;

	--secondary: #6c757d;
	--secondary-light: #899097;
	--secondary-dark: #4b5157;

	--success: #28a745;
	--success-light: #53b86a;
	--success-dark: #1c7430;

	--info: #007bff;
	--info-light: #3395ff;
	--info-dark: #0056b2;

	--warning: #ffc107;
	--warning-light: #ffcd38;
	--warning-dark: #b28704;

	--danger: #dc3545;
	--danger-light: #e35d6a;
	--danger-dark: #9a2530;

	/* Medidas */
	--border-width: 1px;
	--border-radius: 1rem;
	--transition-duration: 0.5s;
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 1rem;

	position: relative;
}

.navbar-brand {
	font-weight: bold;
	color: var(--primary);
	transition: color var(--transition-duration);
}

.navbar-brand:hover {
	color: var(--primary-dark);
}

/* ofertas */

.g-card-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
	grid-auto-rows: auto;
}

.g-card {
	background-color: var(--background);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--default);
}

.g-card-img {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	width: 100%;
	height: 10rem;
}

.g-card-body {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.g-card-title {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}

.g-card-category {
	font-size: 0.8rem;
	color: var(--secondary);
}

.g-card-price {
	font-weight: bold;
	color: var(--primary);
}

/* footer */

footer {
	background-color: var(--background);
	color: var(--text-dark);
	display: flex;
	flex-direction: row;
	align-items: center;
	/*
	justify-content: space-around;
*/
}

footer div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1%;
	flex: 1;
}

.redes {
	/*bad practice*/
	margin: 0;
}

.redes i {
	font-size: 1.5em;
	color: var(--primary);
	transition: var(--transition-duration) all;
}

.redes i:hover {
	color: var(--primary-dark);
}

/* newsletter */

.newsletter-container {
	margin: 1% 0;
	padding: 0.5%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

	background-color: var(--primary);
	color: var(--text-light);

	font-weight: 100;
}

.newsletter-container div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.submit_button input {
	border: none;
	padding: 2% 50%;
	border-radius: 2px;

	background-color: var(--background);
	color: var(--text-dark);
}
